:root {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height : 100vh;
  
}

.cardOne, .cardTwo,
.cardThree {
  background : #f7f7f7;
  width:80%;
  margin:0.2%;
  border-style: solid;
  border-width: 1px;
  border-color: #dfdfdf;
}

.card-button{
     color: black;
    font-family: "Playfair Display", serif;
    font-size: 1.2rem;
    font-weight: 700;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    cursor: pointer;
    text-decoration: underline;
 }

.card-body{
  color: black;
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    font-weight: 500;
    background: white;
    padding:1%;
}